@charset "UTF-8";

// Normalize for browser compatibility
@import "../bower_components/foundation/scss/normalize";

@import "foundation";


/* kalender */
.hyttestyret_kalender {
	width: 100%;

	border: 2px solid #DDD;
	border-collapse: collapse;
	margin-top: 20px;

	th {
		text-align: center;
		background-color: #EEE;

		span {
			display: block;
			font-size: 9px;
			font-weight: normal;
			color: #555;
		}
	}

	th span {
		&:before {
			content: "(";
		}

		&:after {
			content: ")";
		}
	}

	td,
	th {
		border: 1px solid #DDD;
		padding: 5px;
		line-height: 1em;
	}

	td.uke {
		background-color: #F3F3F3;
		text-align: center;
		font-size: 11px;
	}

	td.reservert:after,
	td.reservert2:after,
	td.reservert3:after {
		content: " (reservert)";
	}

	td {
		text-align: right;
		font-size: 10px;

		&.idag {
			border-bottom: 4px solid #AAA;

			&:after {
				content: " (i dag)";
				font-weight: bold;
			}

			span {
				font-weight: bold;
			}
		}

		.month {
			font-weight: bold;
		}
	}
}

.hyttestyret_legend.ledig span,
.hyttestyret_kalender td.ledig {
	background-color: #FFFFFF;
}
.hyttestyret_legend.reservert span,
.hyttestyret_kalender td.reservert {
	background-color: #FFFFAA;
}
.hyttestyret_legend.reservert-hs span,
.hyttestyret_kalender td.reservert-hs {
	background-color: #AAAAFF;
}
.hyttestyret_legend.beboerhelg span,
.hyttestyret_kalender td.beboerhelg {
	background-color: #AAFFAA;
}

.hyttestyret_legend.utleid span,
.hyttestyret_kalender td.utleid {
	background-color: #FFAAAA;
}

#hyttestyret_legends {
	text-align: right;
	margin-bottom: 30px;
}
.hyttestyret_legend {
	margin: 10px 0 0 15px;
	display: inline-block;

	span {
		margin-top: 4px;
		float: left;
		width: 15px;
		height: 15px;
		margin-right: 5px;
		border: 1px solid #AAA;
	}
}




.sub-nav {
	background: #EEE;
	padding: 10px 10px 10px 0;
	margin: 0;
}
.sub-nav dd a, .sub-nav dd.active a {
	padding: 0.3rem 0.5rem;
}
h1 {
	margin-top: 80px;
}
h2 {
	margin: 2rem 0 1rem;
}
[data-magellan-expedition-clone] {
	visibility: hidden;
	padding: 0;
}
[data-magellan-expedition] {
	padding: 0;
}
table {
	min-width: 400px;
}
hr {
	margin: 2rem 0;
}